In [1]:
#!/usr/bin/env python

from __future__ import print_function
from __future__ import division
import pandas as pd
import numpy as np
import sys
import argparse
import textwrap
import timeit
import os

In [2]:
def readData(bedfile="largedata/IBD/allsnps_11m_IBD.bed", 
             gerpfile="largedata/SNP/gerpv2_b0_real.csv", 
             dsffile="largedata/SNP/allsnps_11m.dsf5",
             hfile="largedata/snpeff/gy_h.txt",
             gerppositive="positive"):
  ### read.table
  snpibd = pd.read_table(bedfile, sep="\t", header= None)
  gerp = pd.read_csv(gerpfile)
  dsf7 = pd.read_table(dsffile, sep="\t")
  h = pd.read_table(hfile, sep="\t")
  
  ### merge gerp with h
  gerph = pd.merge(gerp, h, on='snpid', sort=False, how="inner")
  
  ### replace = gsub
  snpibd[3].replace("chr", "", regex=True, inplace=True)

  ### paste
  snpibd['snpid'] = snpibd[3].map(str) + "_" + snpibd[2].map(str)
  snpibd['ibdid'] = snpibd[3].map(str) + "_" + snpibd[4].map(str)

  ### merge SNPs with positive GERP H score
  snpibd = pd.merge(snpibd, gerph[["snpid", "RS", "h"]], on='snpid', sort=False, how='inner')
  if gerppositive == "positive":
    snp0 = snpibd[snpibd['RS']>0]
  else:
    snp0 = snpibd

  ### check how many SNP per IBD block ###
  ibd0 = snp0.groupby('ibdid').size()
  #len(ibd0)
  #Out[16]: 85388

  ### GERP>0 merged with dsf7, dsf7 without B73 missing!
  dsf7 = dsf7[dsf7['B73'] != 'N']
  ibddsf = pd.merge(snp0, dsf7.iloc[:,np.r_[0, 7:19]], on="snpid", sort=False, how="inner")
  return ibddsf

In [3]:
bedfile="largedata/IBD/allsnps_11m_IBD.bed"

In [4]:
pwd

u'/home/jolyang/Documents/Github/pvpDiallel/profiling'

In [5]:
os.chdir("/home/jolyang/Documents/Github/pvpDiallel")

In [6]:
pwd

u'/home/jolyang/Documents/Github/pvpDiallel'

In [7]:
hfile="largedata/snpeff/gy_k.txt"

In [8]:
gerpfile="largedata/SNP/allsnps_11m.dsf5"

In [9]:
gerpfile="largedata/SNP/geno_b0_cs/gerpv2_b0_cs0.csv"

In [10]:
dsffile="largedata/SNP/allsnps_11m.dsf5"

In [11]:
### read.table
  snpibd = pd.read_table(bedfile, sep="\t", header= None)
  gerp = pd.read_csv(gerpfile)
  dsf7 = pd.read_table(dsffile, sep="\t")
  h = pd.read_table(hfile, sep="\t")

IndentationError: unexpected indent (<ipython-input-11-c5fd86da874c>, line 2)

In [12]:
snpibd = pd.read_table(bedfile, sep="\t", header= None)

In [13]:
len(snpidb)

NameError: name 'snpidb' is not defined

In [14]:
snpid.head()

NameError: name 'snpid' is not defined

In [15]:
snpibd.head()

      0     1     2     3    4      5
0  chr1   716   717  chr1   15    717
1  chr1   882   883  chr1  717  68298
2  chr1  2110  2111  chr1  717  68298
3  chr1  3497  3498  chr1  717  68298
4  chr1  3817  3818  chr1  717  68298

In [16]:
snpibd.tail()

              0          1          2      3          4          5
11348657  chr10  150187518  150187519  chr10  150180320  150188499
11348658  chr10  150187553  150187554  chr10  150180320  150188499
11348659  chr10  150187568  150187569  chr10  150180320  150188499
11348660  chr10  150188123  150188124  chr10  150180320  150188499
11348661  chr10  150188498  150188499  chr10  150180320  150188499

In [17]:
gerp = pd.read_csv(gerpfile)

In [18]:
len(gerp)

506898

In [19]:
gerp.head()

     snpid      N     RS  chr    pos
0     1_15  2.280  1.160    1     15
1    1_717  0.847  0.847    1    717
2    1_883  2.280  2.280    1    883
3   1_9344  2.280  1.160    1   9344
4  1_93056  1.360  0.185    1  93056

In [20]:
dsf7 = pd.read_table(dsffile, sep="\t")

In [21]:
len(dsf7)

11051839

In [22]:
dsf7.head()

,snpid,chr,pos,major,minor,MAF,missing,B73,LH1,MO17,PHG35,PHG47,PHJ40,LH123HT,LH82,PH207,PHG39,PHG84,PHZ51
0,1_15,1,15,A,G,0.167,0,A,A,G,A,A,A,A,A,A,A,A,G
1,1_717,1,717,A,G,0.167,0,A,A,G,A,A,A,A,A,A,A,A,G
2,1_883,1,883,A,G,0.167,0,A,A,G,A,A,A,A,A,A,A,A,G
3,1_2111,1,2111,C,T,0.167,0,C,C,T,C,C,C,C,C,C,C,C,T
4,1_3498,1,3498,G,A,0.333,0,A,G,G,G,A,A,A,G,G,G,G,G

In [27]:
h = pd.read_table(hfile, sep="\t")

In [32]:
h.head()

       snpid         h
0  10_626964  0.845306
1  10_630783  1.114887
2  10_632233  1.436512
3  10_632665 -2.000000
4  10_634437  1.976889

In [25]:
hfile = "largedata/snpeff/perse/gy_k.txt"

In [33]:
### merge gerp with h
gerph = pd.merge(gerp, h, on='snpid', sort=False, how="inner")

In [34]:
gerph.head()

      snpid      N     RS  chr     pos         h
0    1_9344  2.280  1.160    1    9344 -2.000000
1   1_93254  0.847  0.847    1   93254 -1.612049
2  1_109477  0.847  0.847    1  109477  1.786386
3  1_110070  1.090  1.090    1  110070 -1.612049
4  1_146576  2.280  2.280    1  146576 -0.245392

In [35]:
snpibd[3].replace("chr", "", regex=True, inplace=True)

In [36]:
snpibd['snpid'] = snpibd[3].map(str) + "_" + snpibd[2].map(str)

In [37]:
snpibd['ibdid'] = snpibd[3].map(str) + "_" + snpibd[4].map(str)

In [38]:
snpibd.head()

      0     1     2  3    4      5   snpid  ibdid
0  chr1   716   717  1   15    717   1_717   1_15
1  chr1   882   883  1  717  68298   1_883  1_717
2  chr1  2110  2111  1  717  68298  1_2111  1_717
3  chr1  3497  3498  1  717  68298  1_3498  1_717
4  chr1  3817  3818  1  717  68298  1_3818  1_717

In [39]:
snpibd = pd.merge(snpibd, gerph[["snpid", "RS", "h"]], on='snpid', sort=False, how='inner')
if gerppositive == "positive":
    snp0 = snpibd[snpibd['RS']>0]
else:
    snp0 = snpibd

NameError: name 'gerppositive' is not defined

In [40]:
snp0 = snpibd[snpibd['RS']>0]

In [41]:
len(snp0)

461562

In [42]:
snp0.head()

      0       1       2  3      4       5     snpid    ibdid     RS         h
0  chr1    9343    9344  1    717   68298    1_9344    1_717  1.160 -2.000000
1  chr1   93253   93254  1  68298  155849   1_93254  1_68298  0.847 -1.612049
2  chr1  109476  109477  1  68298  155849  1_109477  1_68298  0.847  1.786386
3  chr1  110069  110070  1  68298  155849  1_110070  1_68298  1.090 -1.612049
4  chr1  146575  146576  1  68298  155849  1_146576  1_68298  2.280 -0.245392

In [43]:
ibd0 = snp0.groupby('ibdid').size()

In [44]:
ibd0.head()

ibdid
10_100007314    15
10_100071610     7
10_100123206     8
10_100127859     3
10_100211978     7
dtype: int64

In [45]:
ibddsf = pd.merge(snp0, dsf7.iloc[:,np.r_[0, 7:19]], on="snpid", sort=False, how="inner")

In [46]:
len(ibddsf)

461562

In [47]:
ibddsf.head()

,0,1,2,3,4,5,snpid,ibdid,RS,h,...,MO17,PHG35,PHG47,PHJ40,LH123HT,LH82,PH207,PHG39,PHG84,PHZ51
0,chr1,9343,9344,1,717,68298,1_9344,1_717,1.160,-2.000000,...,A,A,A,A,A,N,N,T,A,A
1,chr1,93253,93254,1,68298,155849,1_93254,1_68298,0.847,-1.612049,...,T,C,T,T,T,C,C,C,C,T
2,chr1,109476,109477,1,68298,155849,1_109477,1_68298,0.847,1.786386,...,T,T,A,T,A,T,T,T,T,T
3,chr1,110069,110070,1,68298,155849,1_110070,1_68298,1.090,-1.612049,...,C,T,C,C,C,T,T,T,T,C
4,chr1,146575,146576,1,68298,155849,1_146576,1_68298,2.280,-0.245392,...,N,C,C,C,C,N,T,T,C,N

In [51]:
ibddsf.columns[2:4]

Index([2, 3], dtype='object')

In [52]:
pd.set_option('max_colwidth', 30)

In [56]:
ibddsf.head()

,0,1,2,3,4,5,snpid,ibdid,RS,h,B73,LH1,MO17,PHG35,PHG47,PHJ40,LH123HT,LH82,PH207,PHG39,PHG84,PHZ51
0,chr1,9343,9344,1,717,68298,1_9344,1_717,1.160,-2.000000,A,T,A,A,A,A,A,N,N,T,A,A
1,chr1,93253,93254,1,68298,155849,1_93254,1_68298,0.847,-1.612049,T,C,T,C,T,T,T,C,C,C,C,T
2,chr1,109476,109477,1,68298,155849,1_109477,1_68298,0.847,1.786386,T,T,T,T,A,T,A,T,T,T,T,T
3,chr1,110069,110070,1,68298,155849,1_110070,1_68298,1.090,-1.612049,C,T,C,T,C,C,C,T,T,T,T,C
4,chr1,146575,146576,1,68298,155849,1_146576,1_68298,2.280,-0.245392,C,T,N,C,C,C,C,N,T,T,C,N

In [54]:
pd.set_option('display.max_columns', 30)

In [57]:
dsf7.head()

,snpid,chr,pos,major,minor,MAF,missing,B73,LH1,MO17,PHG35,PHG47,PHJ40,LH123HT,LH82,PH207,PHG39,PHG84,PHZ51
0,1_15,1,15,A,G,0.167,0,A,A,G,A,A,A,A,A,A,A,A,G
1,1_717,1,717,A,G,0.167,0,A,A,G,A,A,A,A,A,A,A,A,G
2,1_883,1,883,A,G,0.167,0,A,A,G,A,A,A,A,A,A,A,A,G
3,1_2111,1,2111,C,T,0.167,0,C,C,T,C,C,C,C,C,C,C,C,T
4,1_3498,1,3498,G,A,0.333,0,A,G,G,G,A,A,A,G,G,G,G,G

In [58]:
ibddsf = pd.merge(snp0, dsf7.iloc[:,np.r_[0, 3, 7:19]], on="snpid", sort=False, how="inner")

In [59]:
ibddsf.head()

,0,1,2,3,4,5,snpid,ibdid,RS,h,major,B73,LH1,MO17,PHG35,PHG47,PHJ40,LH123HT,LH82,PH207,PHG39,PHG84,PHZ51
0,chr1,9343,9344,1,717,68298,1_9344,1_717,1.160,-2.000000,A,A,T,A,A,A,A,A,N,N,T,A,A
1,chr1,93253,93254,1,68298,155849,1_93254,1_68298,0.847,-1.612049,C,T,C,T,C,T,T,T,C,C,C,C,T
2,chr1,109476,109477,1,68298,155849,1_109477,1_68298,0.847,1.786386,T,T,T,T,T,A,T,A,T,T,T,T,T
3,chr1,110069,110070,1,68298,155849,1_110070,1_68298,1.090,-1.612049,C,C,T,C,T,C,C,C,T,T,T,T,C
4,chr1,146575,146576,1,68298,155849,1_146576,1_68298,2.280,-0.245392,C,C,T,N,C,C,C,C,N,T,T,C,N

In [60]:
### create a pedigree table
def getPed(ibddsf):
  names = ibddsf.columns.values[11:23]
  names = np.sort(names)
  ped = pd.DataFrame({'F1': np.random.randn(144),
                      'P1': np.repeat(names, 12, axis=0),
                      'P2': names.tolist() * 12})
  ped = ped[ped['P1'] < ped['P2']]
  ped.loc[:, 'F1'] = ped['P1'] + "x" + ped['P2']
  return ped

In [61]:
ped = getPed(ibddsf)

In [62]:
ped

                F1       P1       P2
1          B73xLH1      B73      LH1
2      B73xLH123HT      B73  LH123HT
3         B73xLH82      B73     LH82
4         B73xMO17      B73     MO17
5        B73xPH207      B73    PH207
6        B73xPHG35      B73    PHG35
7        B73xPHG39      B73    PHG39
8        B73xPHG47      B73    PHG47
9        B73xPHG84      B73    PHG84
10       B73xPHJ40      B73    PHJ40
11       B73xPHZ51      B73    PHZ51
14     LH1xLH123HT      LH1  LH123HT
15        LH1xLH82      LH1     LH82
16        LH1xMO17      LH1     MO17
17       LH1xPH207      LH1    PH207
18       LH1xPHG35      LH1    PHG35
19       LH1xPHG39      LH1    PHG39
20       LH1xPHG47      LH1    PHG47
21       LH1xPHG84      LH1    PHG84
22       LH1xPHJ40      LH1    PHJ40
23       LH1xPHZ51      LH1    PHZ51
27    LH123HTxLH82  LH123HT     LH82
28    LH123HTxMO17  LH123HT     MO17
29   LH123HTxPH207  LH123HT    PH207
30   LH123HTxPHG35  LH123HT    PHG35
31   LH123HTxPHG39  LH123HT    PHG39
32   LH123HTxPHG47  LH123HT    PHG47
33   LH123HTxPHG84  LH123HT    PHG84
34   LH123HTxPHJ40  LH123HT    PHJ40
35   LH123HTxPHZ51  LH123HT    PHZ51
..             ...      ...      ...
46      LH82xPHJ40     LH82    PHJ40
47      LH82xPHZ51     LH82    PHZ51
53      MO17xPH207     MO17    PH207
54      MO17xPHG35     MO17    PHG35
55      MO17xPHG39     MO17    PHG39
56      MO17xPHG47     MO17    PHG47
57      MO17xPHG84     MO17    PHG84
58      MO17xPHJ40     MO17    PHJ40
59      MO17xPHZ51     MO17    PHZ51
66     PH207xPHG35    PH207    PHG35
67     PH207xPHG39    PH207    PHG39
68     PH207xPHG47    PH207    PHG47
69     PH207xPHG84    PH207    PHG84
70     PH207xPHJ40    PH207    PHJ40
71     PH207xPHZ51    PH207    PHZ51
79     PHG35xPHG39    PHG35    PHG39
80     PHG35xPHG47    PHG35    PHG47
81     PHG35xPHG84    PHG35    PHG84
82     PHG35xPHJ40    PHG35    PHJ40
83     PHG35xPHZ51    PHG35    PHZ51
92     PHG39xPHG47    PHG39    PHG47
93     PHG39xPHG84    PHG39    PHG84
94     PHG39xPHJ40    PHG39    PHJ40
95     PHG39xPHZ51    PHG39    PHZ51
105    PHG47xPHG84    PHG47    PHG84
106    PHG47xPHJ40    PHG47    PHJ40
107    PHG47xPHZ51    PHG47    PHZ51
118    PHG84xPHJ40    PHG84    PHJ40
119    PHG84xPHZ51    PHG84    PHZ51
131    PHJ40xPHZ51    PHJ40    PHZ51

[66 rows x 3 columns]

In [63]:
len(ped)

66